@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: <FluentBadge Appearance="Appearance.Neutral">@currentCount</FluentBadge>
</p>

<FluentButton Appearance="Appearance.Accent"
    class="px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded transition-colors duration-200"
    @onclick="IncrementCount">
    Click me
</FluentButton>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
